{
    "extends": "airbnb",
    "rules": {
    	"indent": ["error", "tab"],
    	"no-shadow": 0,
        "comma-dangle": 0,
        "no-param-reassign": 0,
        "no-underscore-dangle": 0,
        "import/no-unresolved": 0
    }
}